# Virtual Environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data folder (raw datasets)
data/

# Large temporary files
*.csv
*.xlsx
*.zip

# OS files
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Streamlit cache
.streamlit/

# Logs
*.log